summary
{
	color:green;
	font:50px anjalioldlipi;
	
}
p
{
	color:red;
	font:30px anjalioldlipi;
}
th
{
	color:maroon;
	font:30px anjalioldlipi;
}
th
{
	background-color:pink;
}
td
{
	color:red;
	font :30px anjalioldlipi; 
}
td
{
	background-color:#b3b3cc;
}
table
{
	color: pink;
}
body
{
	background-image:URL(https://cdn.prod.website-files.com/6009ec8cda7f305645c9d91b/60108d2e18c2b768b667619e_6002086f72b72792a701d13c_color-picker.jpeg);
}
table
{
	width:100%;
}
th
{
	background-color:beige;
}
td
{
	background-color:beige;
}
